/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style global */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #000;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Layout principal */
  .main-layout {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #20232a;
    color: white;
  }
  
  .header ul {
    display: flex;
    list-style: none;
  }
  
  .header li {
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .header li:hover {
    text-decoration: underline;
  }
  
  /* Sidebar */
  .sidebar {
    width: 80px;
    background-color: #20232a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  
  .sidebar li:hover {
    color: #ff4500;
  }
  
  /* Conteneur du graphique */
.activity-chart {
    background-color: #fbfbfb; /* Couleur de fond blanche */
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le relief */
    color: #20232a; /* Couleur du texte */
  }
  
  .activity-chart h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #20232a;
    text-align: left;
  }

  .score-du-jour {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .score-du-jour h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .score-du-jour p {
    font-size: 14px;
    color: #74798c;
    text-align: center;
  }
  
  .score-text p {
    font-size: 12px;
    margin-top: 5px;
    color: #74798c;
  }
  